.anal
  //span=anal.when.day
  //span=anal.when.month
  span
    |#{JSON.stringify(anal)}
  span=anal.who
  span=anal.what
  span=anal.type
  span=anal.where
  - if (anal.ref != '-')
    span=anal.ref