- var str = JSON.stringify(anal)
- var anal = JSON.parse(str);
.anal
  .prop=anal.when.day
  .prop=anal.when.month
  .prop= anal.who
  .prop=anal.what
  .prop=anal.type
  .prop=anal.where
  - if (anal.ref != '-')
    .prop=anal.ref