.anal
  //span=anal.when.day
  //span=anal.when.month
  span
    - var str = JSON.stringify(anal)
    |#{str}
    |#{typeof anal}
    - var anal = JSON.parse(str);
    |#{anal['who']}
    |#{anal.who}
  span= anal.who
  span=anal.what
  span=anal.type
  span=anal.where
  - if (anal.ref != '-')
    span=anal.ref