 - var str = JSON.stringify(anal)
 - var anal = JSON.parse(str);
 .anal
  span=anal.when.day
  span=anal.when.month
  span= anal.who
  span=anal.what
  span=anal.type
  span=anal.where
  - if (anal.ref != '-')
    span=anal.ref