- var nuv = '';
- if (nav.dialog)
  - nuv = 'dialog("' + nav.where + '")';
- else if (nav.where != '#')
  - nuv = 'navapp("' + nav.where + '")'
li.key-pp.open#navItem_nf(class=nav.class)
  a.item(href='#', onclick=nuv)
    span.count.blue-bubble-float-right.uiSideNavCount.hidden_elem
      span.countValue.fss
      span.maxCountIndicator
    span.imgWrap
      - if (nav.img && nav.img != 'pie')
        img(src=nav.img)
      - else
        span.pie.right(yes=nav.yess,no=nav.noes,title='',h='0.9em')
    span.linkWrap=nav.what
span.loadingIndicator