- var nuv = 'navapp("' + nav.where + '")'
li.key-pp.open#navItem_nf(class=nav.class)
  a.item(href='#', onclick=nuv)
    span.count.blue-bubble-float-right.uiSideNavCount.hidden_elem
      span.countValue.fss
      span.maxCountIndicator
    span.imgWrap
      - if (nav.img && nav.img != 'pie')
        img(src=nav.img)
      - else
        span.pie.right(yes=yess,no=noes,title='',h='1.0em')
    span.linkWrap=nav.what
span.loadingIndicator